/* common style here */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* this is header section */
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    cursor: pointer;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.menu{
    display: flex;
    gap:30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s;
    color: #fff;
}

.menu-item{
    list-style: none;
}

.menu-item:hover{
    color: rgb(245, 44, 44)
}
/* this banner section here */

.banner-container{
    height: 100vh;
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.banner-title{
    font-size: 86px;
    font-weight: bold;
    color: #fff;
}

.title-color{
    color: rgb(245, 44, 44);
}

.title-description{
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
}

.btn-primary-left{
    background-color: rgb(245, 44, 44);
    color: #fff;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary-right{
    background-color: #fff;
    color: #000;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary-left:hover{
    background-color: #fff;
    color:rgb(245, 44, 44);
}

.btn-primary-right:hover{
    background-color:rgb(245, 44, 44);
    color: #fff;
}

/* this is service section here */

.btn-service-left{
    background-color: #fff;
    color: #000;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-service-left:hover{
    background-color:rgb(245, 44, 44);
    color: #fff;
}


.btn-service-right{
    background-color: #fff;
    color: #000;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-service-right:hover{
    background-color:rgb(245, 44, 44);
    color: #fff;
}

.service-container{
    height: 100vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 100px;
}

.service-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.service-description{
    width: 75%;
    font-size: 20px;
    margin-top: 10px;
}

.service-list{
    font-size: 18px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.author-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;

}

.author-container{
    display: flex;
    gap: 30px;
    align-items: center;
}

.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid rgb(245, 44, 44);
    padding-right: 30px;
}

.icon{
    width: 100px;
    padding: 20px;
}

.box{
    width: 200px;
    height: 200px;
    padding: 50px;
    background-color: #fff;
    color:#000;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px gray ;
}

.service-box-two{
    display: flex;
    gap: 15px;
}

.service-box-four{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

/* this is appointment section here */

.phone-call{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    border-right: 2px solid #fff;
    font-size: 10px;
}


.appointment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color:rgb(245, 44, 44);
    border-radius: 10px;
    margin-top: -80px;
    padding: 0px 40px 0px 40px;
}

.appointment-description{
    color: #fff;
    font-size: 16px;
}

.appointment-button{
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.appointment-description{
    padding: 100px;
}

.consulation{
    font-size: 15px;
}

.consulation-number{
    font-size: 30px;
    font-style: bold;
}

/* this is blog section here */

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 50px;
}

.blog-title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.blog-description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.card{
    width: 350px;
    height: 390px;
    background-color: #fff;
    box-shadow: 4px 4px 8px grey;
    border-radius: 10px;
}

.cards{
    width: 350px;
    border-radius: 10px;
}

.blog-img{
    width: 350px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(54, 53, 53);
    padding: 5px 20px 0px 20px;
}

.card-description{
    font-size: 15px;
    color: rgb(76, 72, 72);
    margin-top: 10px;
    padding: 5px 20px 0px 20px;
}

/* this is footer section here*/
.footer-container{
    width: 100%;
    height: 70vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: #fff;
    line-height: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo{
    width: 25%;
}

.logo-description{
    font-size: 14px;
    margin-top: 15px;
    line-height: 2em;
}

.social-link li{
   padding: 10px;
   font-size: 20px;
}